@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";
/* Global font family setup */
body {
  font-family: 'Roboto', sans-serif; /* Replace with your font */
  font-weight: 400; /* Default font weight */
  line-height: 1.6; /* Default line height */
}
/* Apply the circle background to the left side */
.bg-blue-500 {
  background: radial-gradient(circle, rgba(0, 123, 255, 0.6) 20%, rgba(0, 123, 255, 0) 80%);
}
/* Add this to your global styles (e.g., index.css or App.css) */
.bg-custom-pattern {
  background: #1aa5e0;
  /* background: radial-gradient(circle, rgba(0, 123, 255, 0.4) 20%, rgba(0, 123, 255, 0) 80%); */
  background-size: 50px 50px; /* Adjust the size of the circles */
  width: 100%;
  height: 100%;
}

/* Example of Tailwind CSS global overrides (optional) */
html {
  font-size: 16px; /* Base font size */
}

/* Optional: Customize Tailwind's default font sizes */
.text-sm {
  font-size: 0.875rem; /* You can adjust the size here if needed */
}

.text-lg {
  font-size: 1.125rem;
}
.text-xl {
  font-size: 1rem; /* Adjust the value as per your need */
}
.text-2xl{
  font-size: 1.25rem;
}
.text-3xl{
  font-size: 1.5rem;
}